full/lightweightcoderequirements/LightweightCodeRequirements.swift
full/lightweightcoderequirements/LightweightCodeRequirementsConstraints.swift
full/lightweightcoderequirements/LightweightCodeRequirementsRequirements.swift
